In [2]:
# Unique Words in a Sentence

sentence = input("Enter sentence: ")

words = sentence.split()
unique = set(words)

print("Unique words count:", len(unique))
print("Unique words:", unique)

Enter sentence:  pavan

Unique words count: 1
Unique words: {'pavan'}

In [3]:
# Highest Salary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

max_salary = 0
max_name = ""

for name in employees:
    if employees[name] > max_salary:
        max_salary = employees[name]
        max_name = name

print("Highest Salary:", max_name, "-", max_salary)

Highest Salary: Ravi - 75000

In [4]:
# Find Maximum and Minimum

numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for n in numbers:
    if n > max_value:
        max_value = n
    if n < min_value:
        min_value = n

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
# Count Products Above 1000

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count = count + 1

print("Products above 1000:", count)

Products above 1000: 2

In [6]:
# Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present = 0

for day in attendance:
    if day == "P":
        present = present + 1

percentage = (present / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [7]:
# Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
# Count Character Frequency

text = "python"

count = {}

for ch in text:
    if ch in count:
        count[ch] = count[ch] + 1
    else:
        count[ch] = 1

print(count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
# Convert List to Tuple

my_list = [10, 20, 30]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [10]:
# Check if Key Exists

employees = {
    "Ravi": 75000,
    "Anita": 68000
}

if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:
# Calculate Average Marks

marks = [70, 75, 80, 65]

total = 0

for m in marks:
    total = total + m

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5